<div class="container">
    <div fxFlex="170" *ngIf="leader">
        <mat-list>
            <mat-list-item class="md-7-line" layout="row" *ngFor="let l of leader">
                <img mat-list-avatar src={{l.image}} alt={{l.name}} />
                <div class="no-margin md-list-item-text">
                    <p mat-line>{{l.name}} {{l.abbr}}<br />
                        {{l.designation}}<br />
                        {{l.description}}<br />
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex [hidden]="leader || leaderrormsg">
            <mat-spinner></mat-spinner><h4>Loading ... Please wait</h4>
          </div>
            <div fxFlex *ngIf="leaderrormsg">
                <h2>Error</h2>
                <h4>{{leaderrormsg}}</h4>
              </div>
      </div>